
@import url('./asstes/fonts/_fonts.css');
:root {
  /* colors */
  --blue: #0a437e;
  --up-btn: #2990fc;
  --btn: #3e8ae0;
  --light-blue: #b6c6d8;
  --grey: #d6d7d8;
  --sky-blue: #e2effe;
  --white: #fcfcfc;

  /* sizes */
  --block-size: 1240px;
  --block-padding-sides: calc(50% - calc(var(--block-size) / 2));
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: var(--white);
  position: relative;
}

p,
a,
span,
button,
h1,
h2,
h3,
h4 {
  color: var(--blue);
  font-family: 'Avenir Next', sans-serif;
}

.scroll-up-btn {
  width: 54px;
  height: 54px;
  background: none;
  border: none;
  position: fixed;
  bottom: 32px;
  right: 32px;
  cursor: pointer;
  z-index: 1;
  display: none;
  img {
    width: 44px;
    height: 44px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px var(--block-padding-sides);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fcfcfcc1;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);

  a {
    -webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }

  a:hover {
    color: var(--btn);
  }
}
.tariffs-scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.nav-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 24px;
}

.nav-links-container:first-of-type {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.nav-header {
  display: inline-block;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  padding: 10px 0;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.nav-link-plans {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background-color: var(--btn);
  border: 1px solid var(--sky-blue);
  border-radius: 22px;
  color: var(--white);
  padding: 12px 34px;
  letter-spacing: 0.01em;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: ease-out 300ms;
  -o-transition: ease-out 300ms;
  transition: ease-out 300ms;
}

.plans-title {
  color: var(--white);
  z-index: 10;
}

.bubble {
  position: absolute;
  bottom: -20px;
  left: 45%;
  width: 20px;
  z-index: -1;
  background-color: var(--white);
  height: 20px;
  border-radius: 50%;
}
.nav-link-plans:hover {
  .plans-title {
    color: var(--btn);
    z-index: 10;
  }
  .bubble {
    scale: 10;
    z-index: -1;
    -webkit-transition: 300ms ease-out;
    -o-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.header {
  padding: 0 204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content {
  position: relative;
  text-align: center;
  width: 1030px;
  height: 866px;
  background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(0, 0, 0, 0)),
      color-stop(60%, rgba(59, 65, 69, 1))
    ),
    url('./asstes/img/header-bckg.jpg');
  background-image: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(59, 65, 69, 1) 60%
    ),
    url('./asstes/img/header-bckg.jpg');
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(59, 65, 69, 1) 60%
    ),
    url('./asstes/img/header-bckg.jpg');
  border-radius: 500px 500px 0 0;
  background-repeat: no-repeat;
  background-size: cover, 110%;
  background-position: 0 380px, 0 -400px;
  border: 1px solid var(--btn);
  overflow: hidden;
}

.duration {
  padding-top: 19%;
  font-size: 26px;
  color: var(--white);
  text-shadow: 0 1px 11.3px var(--blue);
}

.header-title {
  padding-top: 12px;
  background-color: var(--white);
  font-size: 88px;
  font-family: 'Mak';
  font-weight: 400;
  line-height: 88px;
  margin-top: 42px;
}

.header-description {
  position: absolute;
  bottom: 40px;
  width: 100%;
  p {
    font-size: 26px;
    line-height: 32px;
    color: var(--white);
    margin-top: 8px;
  }
}
.for-whom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  padding-top: 146px;
}

.for-whom-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 28px;
}

.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  width: 781px;
  padding: 20px 63px;
  border-radius: 20px;
  color: var(--blue);
  -webkit-box-shadow: 0px 6px 20px 0px #abd2fc;
          box-shadow: 0px 6px 20px 0px #abd2fc;
}

.reason-title {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 8px;
  font-weight: 400;
}
.reason-description {
  font-size: 22px;
  line-height: 28px;
}

.author {
  padding: 146px var(--block-padding-sides);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 74px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.author-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}

.author-photo {
  width: 504px;
}

.author-title {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 14px;
}

.author-bio,
.bio {
  font-size: 20px;
  line-height: 28px;
}
.author-bio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 74px;
}

.bio-container {
  position: relative;
  max-width: 294px;
}

.bio-image,
.frame {
  width: 276px;
  height: 229px;
  margin-bottom: 22px;
}

.frame {
  position: absolute;
  top: 12px;
  left: 12px;
  border: 1px solid var(--btn);
  border-radius: 0 42px 0 0;
}
.advantages {
  background-color: var(--sky-blue);
  padding: 88px var(--block-padding-sides);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 88px;
  color: var(--blue);
}
.advantage {
  width: 227px;
}
.advantage-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 44px;
}
.advantage-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 24px;
  text-wrap: nowrap;
}
.advantage-info {
  font-size: 22px;
  line-height: 28px;
}
.meditation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 146px var(--block-padding-sides) 0;
}
.meditation-video {
  border: none;
  border-radius: 28px;
}
.meditation-title {
  font-weight: 500;
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 14px;
}
.meditation-info {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 46px;
}
.plan {
  padding: 146px var(--block-padding-sides);
}
.plan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 88px;
}
.plan-title {
  font-size: 38px;
  font-weight: 500;
  text-align: center;
}
.plan-subtitle {
  font-size: 26px;
  text-align: center;
  margin-bottom: 46px;
}
.plan-subtitle-bold {
  font-weight: 500;
}
.bold {
  font-weight: 600;
}
.scroll-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.scroll-content::-webkit-scrollbar,
.feedback-scroll::-webkit-scrollbar {
  display: none;
}
.plan-scroll-btn {
  border: none;
  background: none;
  cursor: pointer;
}
.scroll-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 556px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.scroll-content-card {
  background-color: var(--sky-blue);
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px;
  gap: 18px;
}

.number {
  font-weight: 700;
  font-size: 64px;
  font-family: 'Avenir Next', sans-serif;
  color: var(--light-blue);
}
.scroll-card-title {
  font-weight: 600;
  color: var(--blue);
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 18px;
}
.scroll-card-info {
  font-size: 20px;
  line-height: 28px;
}
.bonus-container {
  position: relative;
  max-width: 45%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.frame-small {
  position: absolute;
  width: calc(100% - 55px);
  height: calc(100% - 114px);
  margin-left: 20px;
  border: 2px solid var(--sky-blue);
  border-radius: 0 253.5px 0 0;
  margin-bottom: 64px;
}
.star-1 {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.star-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.frame-big {
  position: relative;
  width: calc(100% - 55px);
  height: calc(100% - 88px);
  top: 32px;
  border: 2px solid var(--sky-blue);
  border-radius: 0 253.5px 0 0;
}
.star-big {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.bonus-title {
  padding-top: 35px;
  padding-left: 46px;
  font-weight: 500;
  font-size: 38px;
  color: var(--blue);
}
.bonus-container {
  margin-top: 40px;
}
.bonus-info {
  font-size: 22px;
  line-height: 28px;
}
.bonus-info-1 {
  padding: 46px 40px 0 50%;
}
.bonus-info-2 {
  padding: 0 0 0 18px;
  width: 40%;
  background-color: var(--white);
}
.bonus-info-bold,
.conclusion-bold {
  font-weight: 500;
}
.plans {
  background-color: var(--sky-blue);
  padding: 68px var(--block-padding-sides);
}
.tariff {
  padding: 32px 24px;
  border-radius: 42px 42px 0px 0px;
  background-color: var(--white);
  -webkit-box-shadow: 0 6px 20px 0 #abd2fc;
          box-shadow: 0 6px 20px 0 #abd2fc;
  border: 1px solid var(--grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.tariff-title {
  font-size: 44px;
  font-weight: 500;
  color: var(--blue);
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 12px;
}
.tariff-for-whom {
  font-size: 22px;
  font-weight: 500;
  color: var(--blue);
  text-align: center;
  margin-bottom: 24px;
}
.tariff-detail {
  color: var(--blue);
  font-family: 'Avenir Next', sans-serif;
  line-height: 28px;
  font-size: 20px;
}
.details-list {
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 3px solid var(--sky-blue);
}
.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.tariff-additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.tariff-additional-icon {
  margin: 5px;
  min-width: 44px;
}

.tariff-additional-text {
  padding-right: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}
.tariff-price {
  margin-top: 30px;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.03rem;
  margin-bottom: 24px;
}
.to-telegram {
  padding: 10px 40px;
  background-color: var(--btn);
  border-radius: 22px;
  color: var(--white);
  font-weight: 600;
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1rem;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.to-telegram:hover {
  color: var(--btn);
  background-color: var(--white);
  border: 1px solid var(--sky-blue);
}
.plus {
  min-width: 44px;
  height: 44px;
}
.feedback {
  padding: 146px var(--block-padding-sides);
}
.feedback-title {
  font-weight: 500;
  font-size: 38px;
  text-align: center;
  margin-bottom: 46px;
}
.feedback-photo {
  min-width: 79px;
  min-height: 79px;
  max-width: 79px;
  max-height: 79px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.feedback-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 18px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}
.feedback-scroll-container {
  position: relative;
  padding: 0 30px;
}
.feedback-card {
  padding: 24px 32px;
  border: 1px solid var(--light-blue);
  border-radius: 40px;
  min-width: calc((100% - 36px) / 3);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.arrow-left,
.arrow-right {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  translate: 0 -50%;
}
.arrow-left {
  left: -50px;
}
.arrow-right {
  right: -50px;
}
.feedback-name {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 12px;
}
.feedback-text {
  font-size: 18px;
}
.conclusion {
  padding: 0 var(--block-padding-sides) 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 130px;
}
.conclusion-icon-content {
  width: 30%;
  text-align: center;
}
.conclusion-icon-content::before {
  content: '';
  position: absolute;
  height: 3px;
  left: var(--block-padding-sides);
  top: 40px;
  width: 30%;
  background-color: var(--sky-blue);
}
.conclusion-icon-content::after {
  content: '';
  position: absolute;
  height: 3px;
  right: var(--block-padding-sides);
  top: 40px;
  width: 30%;
  background-color: var(--sky-blue);
}
.conclusion-text {
  text-align: center;
  font-size: 38px;
  line-height: 2em;
}
.footer {
  padding: 44px var(--block-padding-sides);
  background-color: var(--grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer-link {
  text-decoration: none;
  font-size: 18px;
}
.footer-header {
  font-weight: 500;
}
.mobile {
  display: none;
}

@media screen and (max-width: 1439px) {
  :root {
    --block-size: 940px;
  }
  .feedback-card {
    min-width: calc((100% - 18px) / 2);
  }
  .author-photo {
    display: none;
  }
  .bio-container {
    max-width: unset;
  }
  .header-title {
    font-size: 64px;
  }
  .header-content {
    width: 1030px;
    height: 866px;
    background-position: 0 380px, 0 bottom;
    background-size: 120%;
  }
  .advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }
  .advantage {
    min-width: 45%;
  }
  .advantage-icon {
    margin-bottom: 20px;
  }
  .bonus-info-1 {
    padding: 32px 10% 16px 40%;
  }
  .bonus-info-2 {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --block-size: 95vw;
  }
  .overflow-hidden {
    width: 100vw;
    overflow-x: hidden;
  }
  .advantages {
    gap: 36px;
  }
  .header {
    padding: 0;
  }
  .header-content {
    border: none;
    margin-top: 62px;
  }
  .nav-links-container,
  .header-title,
  .duration {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: none;
  }
  .header-content {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(0, 0, 0, 0)),
        color-stop(60%, #02080c99)
      ),
      url('./asstes/img/header-bckg.jpg');
    background-image: -o-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        #02080c99 60%
      ),
      url('./asstes/img/header-bckg.jpg');
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        #02080c99 60%
      ),
      url('./asstes/img/header-bckg.jpg');
    background-size: 150% auto;
    background-position: 0 150px, bottom;
    width: 100%;
    height: 555px;
    margin-top: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav {
    position: fixed;
    height: 52px;
    width: 100%;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-title {
    font-size: 36px;
    text-align: center;
    line-height: normal;
    margin-top: 80px;
  }

  .duration {
    text-shadow: none;
    color: var(--blue);
    text-align: center;
    padding-top: 27px;
    position: relative;
    font-size: 16px;
  }
  .duration::before {
    content: '';
    position: absolute;
    height: 2px;
    left: var(--block-padding-sides);
    top: 36px;
    width: 30%;
    background-color: var(--sky-blue);
  }
  .nav-header {
    font-size: 16px;
    text-align: left;
    padding: 0;
  }
  .nav-header:hover {
    color: var(--blue);
  }
  .duration::after {
    content: '';
    position: absolute;
    height: 2px;
    right: var(--block-padding-sides);
    top: 36px;
    width: 30%;
    background-color: var(--sky-blue);
  }
  .reason {
    width: 95%;
  }
  .mobile {
    display: block;
  }
  .header-description p {
    font-size: 16px;
  }
  .nav-link-plans {
    width: 90%;
    padding: 0;
    padding: 12px 0;
    border: none;
    margin: 0 auto;
  }
  .plans-title:hover {
    color: var(--white);
  }
  .plans-title {
    width: 90%;
    display: inline-block;
  }
  .for-whom {
    padding-top: 28px;
  }
  .for-whom-title {
    font-size: 22px;
    text-align: center;
  }
  .reason-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }
  .check-icon {
    width: 26px;
    height: 26px;
  }
  .reason {
    padding: 8px 8px 8px 16px;
    gap: 20px;
    background-color: var(--white);
  }
  .reason-description {
    font-size: 15px;
    line-height: 18px;
  }
  .for-whom {
    gap: 7px;
  }
  .author {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .author-title {
    font-size: 22px;
    margin-bottom: 0;
    text-align: center;
  }
  .author-container-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    p {
      font-size: 14px;
      line-height: 20px;
      width: 45%;
    }
    img {
      position: relative;
      -o-object-fit: contain;
         object-fit: contain;
      width: 100%;
      z-index: -1;
    }
  }
  .mobile-container-1 {
    max-width: 40%;
    position: relative;
  }
  .frame-mobile-1 {
    position: absolute;
    width: 95%;
    height: 115%;
    bottom: -9px;
    right: 6px;
    border: 1px solid var(--btn);
    padding: 12px 0 6px;
    border-radius: 100px 0 0 0;
    margin-right: 12px;
    z-index: 3;
  }
  .bio-image,
  .frame {
    display: none;
  }
  .author-content {
    width: 100%;
  }
  .author-bio-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    p {
      padding-top: 20px;
      font-size: 14px;
      line-height: 20px;
      width: 40%;
    }
  }
  .bio-container:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    .mobile-frame-2 {
      position: absolute;
      width: 50%;
      height: 108%;
      border: 1px solid var(--btn);
      border-radius: 0 100px 0 0;
      bottom: -10px;
      left: 10px;
    }
    img {
      width: 50%;
      height: auto;
      border-radius: 0 100px 0 0;
      -o-object-fit: cover;
         object-fit: cover;
    }
  }
  .bio-container:nth-last-of-type(1) {
    p {
      width: 100%;
    }
  }
  .advantages {
    padding: 38px 20px 20px;
    row-gap: 20px;
    gap: 18px;
    .advantage-icon {
      width: 40px;
      height: 40px;
      margin-bottom: 12px;
    }
    .advantage-title {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 8px;
    }
    .advantage-info {
      font-size: 16px;
      line-height: 22px;
    }
    .advantage {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: calc((100% - 58px) / 2);
    }
  }
  .meditation {
    padding-top: 70px;
    .meditation-title {
      font-size: 22px;
    }
    .meditation-info {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 12px;
    }
    .meditation-video {
      width: 100%;
      height: calc((100vw - 40px) * 0.56);
    }
  }
  .plan {
    padding-top: 100px;
    padding-left: 0;
    padding-bottom: 70px;
    .plan-title {
      font-size: 22px;
      margin-bottom: 12px;
    }
    .bonus-container {
      display: none;
    }
    .plan-subtitle {
      font-size: 16px;
    }
    .bonus-title {
      font-size: 22px;
      padding: 0;
    }
    .bonus-container-mobile {
      position: relative;
      background-color: var(--sky-blue);
      border-radius: 0 155px 0 0;
      width: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 14px;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      padding: 32px;
      p {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .plan-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .bonus-info,
    .bonus-info-2 {
      padding: 0;
    }
    .bonus-info-1 {
      padding-left: 0;
    }
    .bonus-info-2 {
      background: none;
      width: unset;
    }
    .mobile-starts {
      margin: 0 auto;
    }
    .bonus-frame-mobile {
      border-radius: 0 155px 0 0;
      position: absolute;
      border: 2px solid var(--btn);
      width: calc(100% - 20px);
      height: 100%;
      top: 14px;
      left: 10px;
    }
    .scroll-container {
      overflow-x: scroll;
      overflow-y: unset;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      width: 100%;
      padding-left: 12px;
    }
    .scroll-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
      padding-left: 12px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      -ms-scroll-snap-type: x mandatory;
          scroll-snap-type: x mandatory;
      scroll-margin-inline-start: 0;
    }
    .scroll-content-card {
      min-width: 100%;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      scroll-snap-align: start;
    }
    .plan-scroll-btn {
      display: none;
    }
    .number {
      font-size: 42px;
    }
    .scroll-card-title {
      font-size: 16px;
      line-height: 24px;
    }
    .scroll-card-info {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .plans {
    background-color: var(--white);
    padding-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    .tariff {
      min-width: 100%;
      border-radius: 0 100px 0 0;
      border: 1px solid var(--light-blue);
      scroll-snap-align: start;
    }
    .tariff-title {
      font-size: 24px;
    }
    .tariff-for-whom {
      font-size: 16px;
    }
    li {
      font-size: 14px;
      line-height: 22px;
    }
    .tariff-additional {
      gap: 0;
    }
    .tariff-additional-text {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 0;
    }
    .tariff-additional-icon,
    .plus {
      width: 24px;
      height: 24px;
    }
    .tariffs-scroll-container {
      overflow-x: scroll;
      padding: 32px 8px 24px;
      gap: 20px;
      -ms-scroll-snap-type: x mandatory;
          scroll-snap-type: x mandatory;
      scroll-margin-inline-start: 0;
    }
    .tariff-price {
      font-size: 16px;
    }
  }
  .feedback {
    padding-top: 24px;
    padding-bottom: 40px;
    background-color: var(--sky-blue);
    .arrow-left,
    .arrow-right {
      display: none;
    }
    .feedback-card {
      scroll-snap-align: start;
      min-width: calc(100% - 17px);
    }
    .feedback-photo {
      min-width: 50px;
      min-height: 50px;
      max-width: 50px;
      max-height: 50px;
    }
    .feedback-name {
      font-size: 16px;
      margin-bottom: 8px;
    }
    .feedback-text {
      font-size: 14px;
      line-height: 22px;
    }
    .feedback-scroll {
      margin-top: 18px;
      -ms-scroll-snap-type: x mandatory;
          scroll-snap-type: x mandatory;
      scroll-margin-inline-start: 0;
    }
    .feedback-title {
      display: none;
    }
  }
  .conclusion {
    padding-top: 60px;
    padding-bottom: 70px;
    gap: 54px;
  }
  .conclusion-icon-content::after,
  .conclusion-icon-content::before {
    top: 100px;
  }
  .conclusion-text {
    font-size: 20px;
    line-height: 28px;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 32px;
    padding: 38px 20px;
  }
  .mobile-scroll-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    h3 {
      font-weight: 500;
      font-size: 22px;
      padding: 0 46px;
    }
  }
  .nav-mobile {
    height: 80vh;
    position: absolute;
    top: -100%;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .show {
      display: block;
    }
    svg {
      display: none;
      -webkit-transition: 200ms ease-in-out;
      -o-transition: 200ms ease-in-out;
      transition: 200ms ease-in-out;
    }
  }
  .burger-menu {
    background-color: var(--white);
    height: 100vh;
    padding: 42px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 52px;
    width: 100%;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    right: -100%;
    li {
      list-style: none;
    }
    ul {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    a {
      display: block;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 42px;
      text-decoration: none;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
    li.nav-plans {
      background-color: var(--btn);
      color: var(--white);
      padding: 0 35vw;
      line-height: 46px;
      border-radius: 22px;
    }
  }
  .burger-menu-open {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    position: fixed;
    width: 100%;
    top: 52px;
  }
}