@import url('./asstes/fonts/_fonts.css');
:root {
  /* colors */
  --blue: #0a437e;
  --up-btn: #2990fc;
  --btn: #3e8ae0;
  --light-blue: #b6c6d8;
  --grey: #d6d7d8;
  --sky-blue: #e2effe;
  --white: #fcfcfc;

  /* sizes */
  --block-size: 1240px;
  --block-padding-sides: calc(50% - calc(var(--block-size) / 2));
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  position: relative;
}

p,
a,
span,
button,
h1,
h2,
h3,
h4 {
  color: var(--blue);
  font-family: 'Avenir Next', sans-serif;
}

.scroll-up-btn {
  background: var(--white);
  border-radius: 50%;
  padding: 5px;
  width: 54px;
  height: 54px;
  border: none;
  position: fixed;
  bottom: 32px;
  right: 32px;
  cursor: pointer;
  z-index: 1;

  img {
    width: 44px;
    height: 44px;
  }
}

.nav {
  display: flex;
  padding: 8px var(--block-padding-sides);
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fcfcfcc1;
  backdrop-filter: blur(20px);

  a {
    transition: all 300ms ease-out;
  }

  a:hover {
    color: var(--btn);
  }
}

.nav-links-container {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: end;
  gap: 24px;
}

.nav-links-container:first-of-type {
  justify-content: start;
}

.nav-header {
  display: inline-block;
  font-weight: 600;
  flex-grow: 1;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  padding: 10px 0;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.nav-link-plans {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background-color: var(--btn);
  border: 1px solid var(--sky-blue);
  border-radius: 22px;
  color: var(--white);
  padding: 12px 34px;
  letter-spacing: 0.01em;
  overflow: hidden;
  z-index: 0;
  transition: ease-out 300ms;
}

.plans-title {
  color: var(--white);
  z-index: 10;
}

.bubble {
  position: absolute;
  bottom: -20px;
  left: 45%;
  width: 20px;
  z-index: -1;
  background-color: var(--white);
  height: 20px;
  border-radius: 50%;
}
.nav-link-plans:hover {
  .plans-title {
    color: var(--btn);
    z-index: 10;
  }
  .bubble {
    scale: 10;
    z-index: -1;
    transition: 300ms ease-out;
  }
  transition-duration: 0s;
}

.header {
  padding: 0 204px;
  display: flex;
  justify-content: center;
}

.header-content {
  position: relative;
  text-align: center;
  width: 1030px;
  height: 866px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(59, 65, 69, 1) 60%
    ),
    url('./asstes/img/header-bckg.jpg');
  border-radius: 500px 500px 0 0;
  background-repeat: no-repeat;
  background-size: cover, 110%;
  background-position: 0 380px, 0 -400px;
  border: 1px solid var(--btn);
  overflow: hidden;
}

.duration {
  padding-top: 19%;
  font-size: 26px;
  color: var(--white);
  text-shadow: 0 1px 11.3px var(--blue);
}

.header-title {
  padding-top: 12px;
  background-color: var(--white);
  font-size: 88px;
  font-family: 'Mak';
  font-weight: 400;
  line-height: 88px;
  margin-top: 42px;
}

.header-description {
  position: absolute;
  bottom: 40px;
  width: 100%;
  p {
    font-size: 26px;
    line-height: 32px;
    color: var(--white);
    margin-top: 8px;
  }
}
.for-whom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding-top: 146px;
}

.for-whom-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 28px;
}

.reason {
  display: flex;
  gap: 24px;
  width: 781px;
  padding: 20px 63px;
  border-radius: 20px;
  color: var(--blue);
  box-shadow: 0px 6px 20px 0px #abd2fc;
}

.reason-title {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 8px;
  font-weight: 400;
}
.reason-description {
  font-size: 22px;
  line-height: 28px;
}

.author {
  padding: 146px var(--block-padding-sides);
  display: flex;
  gap: 74px;
  align-items: end;
}

.author-content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.author-photo {
  width: 504px;
}

.author-title {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 14px;
}

.author-bio,
.bio {
  font-size: 20px;
  line-height: 28px;
}
.author-bio-container {
  display: flex;
  gap: 74px;
}

.bio-container {
  position: relative;
  max-width: 294px;
}

.bio-image,
.frame {
  width: 276px;
  height: 229px;
  margin-bottom: 22px;
}

.frame {
  position: absolute;
  top: 12px;
  left: 12px;
  border: 1px solid var(--btn);
  border-radius: 0 42px 0 0;
}
.advantages {
  background-color: var(--sky-blue);
  padding: 88px var(--block-padding-sides);
  display: flex;
  gap: 88px;
  color: var(--blue);
}
.advantage {
  width: 227px;
}
.advantage-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 44px;
}
.advantage-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 24px;
  text-wrap: nowrap;
}
.advantage-info {
  font-size: 22px;
  line-height: 28px;
}
.meditation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 146px var(--block-padding-sides) 0;
}
.meditation-video {
  border: none;
  border-radius: 28px;
}
.meditation-title {
  font-weight: 500;
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 14px;
}
.meditation-info {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 46px;
}
.plan {
  padding: 146px var(--block-padding-sides);
}
.plan-content {
  display: flex;
  gap: 88px;
}
.plan-title {
  font-size: 38px;
  font-weight: 500;
  text-align: center;
}
.plan-subtitle {
  font-size: 26px;
  text-align: center;
  margin-bottom: 46px;
}
.plan-subtitle-bold {
  font-weight: 500;
}
.bold {
  font-weight: 600;
}
.scroll-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.scroll-content::-webkit-scrollbar,
.feedback-scroll::-webkit-scrollbar {
  display: none;
}
.plan-scroll-btn {
  border: none;
  background: none;
  cursor: pointer;
}
.scroll-content {
  display: flex;
  height: 556px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-direction: column;
  gap: 14px;
}

.scroll-content-card {
  background-color: var(--sky-blue);
  border-radius: 32px;
  display: flex;
  padding: 22px;
  gap: 18px;
}

.number {
  font-weight: 700;
  font-size: 64px;
  font-family: 'Avenir Next', sans-serif;
  color: var(--light-blue);
}
.scroll-card-title {
  font-weight: 600;
  color: var(--blue);
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 18px;
}
.scroll-card-info {
  font-size: 20px;
  line-height: 28px;
}
.bonus-container {
  position: relative;
  max-width: 45%;
  flex-grow: 1;
}
.frame-small {
  position: absolute;
  width: calc(100% - 55px);
  height: calc(100% - 114px);
  margin-left: 20px;
  border: 2px solid var(--sky-blue);
  border-radius: 0 253.5px 0 0;
  margin-bottom: 64px;
}
.star-1 {
  position: absolute;
  transform: translate(-50%, -50%);
}
.star-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.frame-big {
  position: relative;
  width: calc(100% - 55px);
  height: calc(100% - 88px);
  top: 32px;
  border: 2px solid var(--sky-blue);
  border-radius: 0 253.5px 0 0;
}
.star-big {
  position: absolute;
  transform: translate(-50%, -50%);
}
.bonus-title {
  padding-top: 35px;
  padding-left: 46px;
  font-weight: 500;
  font-size: 38px;
  color: var(--blue);
}
.bonus-container {
  margin-top: 40px;
}
.bonus-info {
  font-size: 22px;
  line-height: 28px;
}
.bonus-info-1 {
  padding: 46px 40px 0 50%;
}
.bonus-info-2 {
  padding: 0 0 0 18px;
  width: 40%;
  background-color: var(--white);
}
.bonus-info-bold,
.conclusion-bold {
  font-weight: 500;
}
.plans {
  background-color: var(--sky-blue);
  padding: 68px var(--block-padding-sides);
}
.tariff {
  padding: 32px 24px;
  border-radius: 42px 42px 0px 0px;
  background-color: var(--white);
  box-shadow: 0 6px 20px 0 #abd2fc;
  border: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.tariff-title {
  font-size: 44px;
  font-weight: 500;
  color: var(--blue);
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 12px;
}
.tariff-for-whom {
  font-size: 22px;
  font-weight: 500;
  color: var(--blue);
  text-align: center;
  margin-bottom: 24px;
}
.tariff-detail {
  color: var(--blue);
  font-family: 'Avenir Next', sans-serif;
  line-height: 28px;
  font-size: 20px;
}
.details-list {
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 3px solid var(--sky-blue);
}
.plans {
  display: flex;
  gap: 8px;
}
.tariff-additional {
  display: flex;
  gap: 12px;
}
.tariff-additional-icon {
  margin: 5px;
  min-width: 44px;
}

.tariff-additional-text {
  padding-right: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}
.tariff-price {
  margin-top: 30px;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.03rem;
  margin-bottom: 24px;
}
.to-telegram {
  padding: 10px 40px;
  background-color: var(--btn);
  border-radius: 22px;
  color: var(--white);
  font-weight: 600;
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1rem;
  transition: 300ms;
}
.to-telegram:hover {
  color: var(--btn);
  background-color: var(--white);
  border: 1px solid var(--sky-blue);
}
.plus {
  min-width: 44px;
  height: 44px;
}
.feedback {
  padding: 146px var(--block-padding-sides);
}
.feedback-title {
  font-weight: 500;
  font-size: 38px;
  text-align: center;
  margin-bottom: 46px;
}
.feedback-photo {
  min-width: 79px;
  min-height: 79px;
  max-width: 79px;
  max-height: 79px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}
.feedback-scroll {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 18px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}
.feedback-scroll-container {
  position: relative;
  padding: 0 30px;
}
.feedback-card {
  padding: 24px 32px;
  border: 1px solid var(--light-blue);
  border-radius: 40px;
  min-width: calc((100% - 36px) / 3);
  height: fit-content;
  display: flex;
  gap: 12px;
}
.arrow-left,
.arrow-right {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  translate: 0 -50%;
}
.arrow-left {
  left: -50px;
}
.arrow-right {
  right: -50px;
}
.feedback-name {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 12px;
}
.feedback-text {
  font-size: 18px;
}
.conclusion {
  padding: 0 var(--block-padding-sides) 146px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 130px;
}
.conclusion-icon-content {
  width: 30%;
  text-align: center;
}
.conclusion-icon-content::before {
  content: '';
  position: absolute;
  height: 3px;
  left: var(--block-padding-sides);
  top: 40px;
  width: 30%;
  background-color: var(--sky-blue);
}
.conclusion-icon-content::after {
  content: '';
  position: absolute;
  height: 3px;
  right: var(--block-padding-sides);
  top: 40px;
  width: 30%;
  background-color: var(--sky-blue);
}
.conclusion-text {
  text-align: center;
  font-size: 38px;
  line-height: 2em;
}
.footer {
  padding: 44px var(--block-padding-sides);
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-link {
  text-decoration: none;
  font-size: 18px;
}
.footer-header {
  font-weight: 500;
}
.mobile {
  display: none;
}

@media screen and (max-width: 1439px) {
  :root {
    --block-size: 940px;
  }
  .feedback-card {
    min-width: calc((100% - 18px) / 2);
  }
  .author-photo {
    display: none;
  }
  .bio-container {
    max-width: unset;
  }
  .header-title {
    font-size: 64px;
  }
  .header-content {
    width: 1030px;
    height: 866px;
    background-position: 0 380px, 0 bottom;
    background-size: 120%;
  }
  .advantages {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .advantage {
    min-width: 45%;
  }
  .advantage-icon {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 769px) {
  :root {
    --block-size: 95vw;
  }
  .advantages {
    gap: 36px;
  }
  .header {
    padding: 0;
  }
  .header-content {
    border: none;
    margin-top: 62px;
  }
  .nav-links-container,
  .header-title,
  .duration {
    appearance: none;
    display: none;
  }
  .header-content {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        #02080c99 60%
      ),
      url('./asstes/img/header-bckg.jpg');
    background-size: 150% auto;
    background-position: 0 150px, bottom;
    width: 100%;
    height: 555px;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav {
    position: absolute;
    height: 52px;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .header-title {
    font-size: 36px;
    text-align: center;
    line-height: normal;
    margin-top: 80px;
  }

  .duration {
    text-shadow: none;
    color: var(--blue);
    text-align: center;
    padding-top: 27px;
    position: relative;
    font-size: 16px;
  }
  .duration::before {
    content: '';
    position: absolute;
    height: 2px;
    left: var(--block-padding-sides);
    top: 36px;
    width: 30%;
    background-color: var(--sky-blue);
  }
  .nav-header {
    font-size: 16px;
    text-align: left;
  }
  .duration::after {
    content: '';
    position: absolute;
    height: 2px;
    right: var(--block-padding-sides);
    top: 36px;
    width: 30%;
    background-color: var(--sky-blue);
  }
  .reason {
    width: 95%;
  }
  .mobile {
    display: block;
  }
  .header-description p {
    font-size: 16px;
  }
  .nav-link-plans {
    width: 90%;
    padding: 0;
    padding: 12px 0;
    border: none;
    margin: 0 auto;
  }
  .plans-title:hover {
    color: var(--white);
  }

  .plans-title {
    width: 90%;
    display: inline-block;
  }
  .for-whom {
    padding-top: 28px;
  }
  .for-whom-title {
    font-size: 22px;
    text-align: center;
  }
  .reason-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }
  .check-icon{
    width: 26px;
    height: 26px;
  }
  .reason {
    padding: 8px 8px 8px 16px;
    gap: 20px;
    background-color: var(--white);
  }
  .reason-description {
    font-size: 15px;
    line-height: 18px;
  }
  .for-whom {
    gap: 7px;
  }
}
